@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    font-size: 16px;
    font-family: 'Noto Sans KR' !important;
}
.admin-nav li a{
padding: 0;
}

.navbar-brand img{
    width: 75%;
}
.admin-nav{
    padding-top: 20px;
}
.admin-nav li{
    border-right: 1px solid #ddd;
    margin-top: 5px;
    padding: 0 8px;
}
.admin-nav li:last-child{
    border: none;
}

.padding-0{
    padding: 0;
}
.padding-0>div{
    padding: 0;
}

.form{
    display: flex;
}
.admin-title{
    width: 20%;
    background: #272727;
    color:#fff;
    display: flex;
    align-items: center;
}
.admin-form{
    width: 80%;
    background: #f4f4f4;
    padding: 1% 0;
    height: 40px;
}
.form-radio{
    padding-top: 10px;
    padding-left: 15px;
}
.form-control{
    width:95% !important;
    margin: 0 auto;
}

input[type=date]{
    width: 36.5% !important;
}
.date{
    display: flex;
}
.date .form-control{
    display: inline !important;
}
.date span{
    padding: 7px 10px;
}
.form-file{
    display: flex;
}
input[type=file]{
    width: 50%;
}
.form-content-title{
    width: 10% !important;
    padding-top: 30px;
}
.form-area{
    width: 90%;
    background: #f4f4f4;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.form-area textarea{
    width: 97%;
    height: 250px;
    display: flex;
    margin:0 auto;
}

.content-button{
    display: flex;
    justify-content: flex-end;
}
.content-button button{
    margin: 20px 10px;
}


/* background: #f4f4f4; */

@media(max-width:767px){
    .admin-nav li a{
        padding: 10px;
        }
    .admin-nav li{
        border: none;
    }
    nav{
        padding-bottom: 10px;
    }
    .form-content-title{
        width: 22.5% !important;
    }
    .form-area textarea{
        width: 80% !important;
    }

}


/* .admin-nav li:last-child{
    border: none;
} */
.search{
    width: 100%;
    -webkit-box-shadow: 1px 1px 18px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 18px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 18px 1px rgba(0,0,0,0.3);
    display: flex;
}
.search div{
    padding: 10px 10px;
    align-items: center;
}

.search-bg{
    background: #e5edf2;
}
.select-box{
    border: none;
}
.search-width{
    padding: 5px 10px;
}
.btn-border{
    width: 100px;
    border: none;
    border-radius: 3px;
}

.btn-bg1{
    background: #8194d6;
    color:#fff;

}

.btn-bg2{
    background: #2b4064;
    color:#fff;
}
.search-text{
    padding-top: 15px !important;
}

@media(max-width:767px){
    .search{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .media-width-100{
        width: 100% !important;
    }
    .search-search-box{
        width: 100%;
    }
    .search-select{
        width: 100%;
    }
    .btn-bg1{
        width:48%;
    }
    .search-btn{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .btn-bg2{
        width:48%;
    }
}

.admin-padding-03{
    padding-top: 3%;
}
.admin-padding-02{
    padding-top: 2%;
}

.table-title-center th{
    text-align: center;
}
.table-bg{
    background: #272727;
    color:#fff;
}
.table td{
    border: 1px solid #eee;
}
.table th{
    border: 1px solid #eee;
}
.table-margin{
    margin-top: 2%;
}
.num-list{
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
}
.pagination{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.table-title{
    width: 30%;
}
.table-page{
    font-size: 13px;
}
.num-up{
    cursor: pointer;
}
.num-down{
    color:#8b9fea;
    cursor: pointer;
}
.card-new{
    display: flex;
}
.card-title{
    width:50%;
}
.icon{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icon img{
    display: block;
    background-color: beige;
    width:40px;
    line-height: 40px;
    text-align: center;
    padding: 5px;
    height: 40px;
    border-radius: 100px;
}
.card-new{
    /* -webkit-box-shadow: 1px 1px 18px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 18px 1px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 18px 1px rgba(0,0,0,0.1); */
    border-radius: 5px;
}

/* 1005 수정사항 */
.nav > li > a{
    font-weight: bold;
}
.admin-login a{
    border: 3px solid #fff;
    border-radius: 15px;
}
label{
    margin-left: 5px;
}
.table-wrapper{
    max-width: 1140px;
    min-width: 320px;
    height: 430px;
    overflow: auto;
    margin-bottom: 20px;
}
.table.table-3{
    height: 386px !important;
}
.table>thead>tr>th{
    padding: 8px 12px;
}

.table td div{ 

    overflow : hidden; 

    white-space : nowrap; 

    text-overflow : ellipsis; 

    width : 150px;
}
#error-page{
    width: 100%;
    height: 100%;
    background: url(../assets/img/error/error-bg.png)no-repeat;
    background-size: cover;
    background-position: center center;
}
.error-title{
    width: 50%;
    padding-top: 12%;
    margin-left: 21.5%;
    display: flex;

    align-items: center;
}
.error-title > img{
    vertical-align: middle;
    width: 6%;
    margin-right: 1%;
}
.error-title > h1{
    font-size: 3em;
    margin: 0;
    font-weight: 400;
    color: #5a69dd;
}
.error-sub{
    width: 50%;
    margin: 15px auto;
}
.error-sub p{
    font-size: 1.3em;
    color: #272727;
    margin: 0;
}

.gh-button{
    width: 50%;
    margin: 0 auto;
}
.gh-button button{
    width: 362px;
    height: 71px;
    background: #6b7cff;
    color: #fff;
    border: none;
    font-size: 28px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #333;
    margin-top: 10%;
}
@media(max-width: 1200px){
    .error-title{
        padding-top: 24%;
    }
    .error-title h1{
        font-size: 2em;
    }
}
@media(max-width:992px){
    .error-title{
        padding-top: 33%;
    }
    .error-title h1{
        font-size: 1.25em;
    }
    .error-sub p{
        font-size: 1em;
    }
    .gh-button button{
        
        height: 2em;
        font-size: 1em;
    }
}
@media(max-width: 768px){
    .error-title{
        padding-top: 40%;
    }
    .gh-button button{
        width: 100%;
    }
}
@media(max-width: 568px){
    .error-title{
        padding-top: 50%;
    }
}
#float--menu{
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #6476ff;
    border-radius: 100%;
    bottom: 15px;
    left: 15px;
    z-index: 1000;
  }
  .table-wrapper > table{
      width: 1240px;
  }
  .table-wrapper .table-bg > th{
      background: #272727;
      position: sticky;
      top: 0;
  }

  .admin--nav{
      height: 75px;
  }
  .admin-login{
      line-height: 75px;
  }
  .admin-login a{
      padding: 3px 5px;
      transition: all .3s;
      text-decoration: none;
  }
  .admin-login:hover a{
      background: #fff;
  }